vllm
torch
transformers==4.31.0
huggingface_hub==0.36.0
latex2sympy
word2number
tensorly
tokenizers
datasets
peft
wandb
loguru
nvitop
lion-pytorch
matplotlib
bitsandbytes
scipy
scikit-learn
evaluate
mpi4py
importlib-metadata
